body{
    color: black;
}
h1{color: #FFF;}
a{
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    color: grey;
    text-decoration: none;
    font-size: 20px;
}
h2{font-size: 20px;}
th{height: 50px;}
td:empty{background-color: #D5D8DA;}
td{
    height: 120px;
    background-color: #FFF;
}
table.table-bordered{border:1px solid #212529;}
table.table-bordered > thead > tr > th{border:1px solid #212529;}
table.table-bordered > tbody > tr > td{border:1px solid #212529;}